 @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
 }

 @font-face {
    font-family: Poppins-Bold;
    font-weight: 700;
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
 }

 @font-face {
    font-family: Jost;
    font-weight: 400;
    src: url('../assets/fonts/Jost/Jost-Regular.ttf');
 }

 @font-face {
    font-family: Jost-Bold;
    font-weight: 700;
    src: url('../assets/fonts/Jost/Jost-Bold.ttf');
 }

 html {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
 }

 body {
   width: 95vw;
   height: 95vh;
   padding-left: 78px;
 }

 a {
   text-decoration: none;
   color: #686565;
 }

 span {
   color:#F2BD00;
   font-size: 48px;
   line-height: 72px;
   font-family: Poppins-Bold;
   font: 700;
 }

 .header {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 78px 45px;
 }

 .menu-container {
    width: 50%;
 }

 .menu {
    display: flex;
    justify-content: space-between;
 }

 .menu-item {
   list-style-type: none;
 }

 .logo {
    font-family: Poppins-Bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color:#0E0578;
 }

 .first-banner {
   display: flex;
   flex-direction: column;
 }

  .first-banner-image {
   display: flex;
   justify-content: right;
  }

  .first-banner-container {
   color: #2000E7;
  }

  .first-banner-subtitle {
   font-size: 30px;
   line-height: 45px;
   font-family: Poppins-Regular;
   font: 400;
  }

  .first-banner-title {
   font-size: 48px;
   line-height: 72px;
   font-family: Poppins-Bold;
   font: 700;
  }

  .first-banner-text {
   color: #383838;
  }