 @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
 }

 @font-face {
    font-family: Poppins-Bold;
    font-weight: 700;
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
 }

 @font-face {
    font-family: Jost;
    font-weight: 400;
    src: url('../assets/fonts/Jost/Jost-Regular.ttf');
 }

 @font-face {
    font-family: Jost-Bold;
    font-weight: 700;
    src: url('../assets/fonts/Jost/Jost-Bold.ttf');
 }

 html {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
 }

 body {
   width: 95vw;
   height: 95vh;
 }

 a {
   text-decoration: none;
   color: #686565;
 }

 span {
   color:#F2BD00;
   font-size: 48px;
   line-height: 72px;
   font-family: Poppins-Bold;
   font: 700;
 }

 .header-container {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-top: 45px;
    
 }

 .menu-container {
    width: 50%;
 }

 .menu {
    display: flex;
    justify-content: space-between;
 }

 .menu-item {
   list-style-type: none;
 }

 .logo {
    font-family: Poppins-Bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color:#0E0578;
 }

 .first-banner {
   display: flex;
   justify-content: space-between;
   padding-left: 70px;
 }

  .first-banner-image {
   margin: 20px;
   padding-left: 20px;
  }

  .first-banner-container {
   color: #2000E7;
  }

  .first-banner-subtitle {
   font-size: 30px;
   line-height: 45px;
   font-family: Poppins;
   font: 400;
   padding-top: 160px;
  }

  .first-banner-title {
   font-size: 48px;
   line-height: 72px;
   font-family: Poppins-Bold;
   font: 700;
  }

  .first-banner-text {
   color: #383838;
  }

  .button-container {
   display: inline-block;
   width: 250;
   height: 80px;

  }

  .first-banner-button {
   padding: 20px 80px;
   margin-left: 20px;
   margin-right: 20px;
   font-size: 24px;
   line-height: 36px;
   font-family: Poppins;
   font: 400;
   border-radius: 10px;
  }
  
  .button-blue {
   color: #FFFFFF;
   background-color: #2000E7;
   border: 1px solid #2000E7;
  }

  .button-limpid {
   color: #2000E7;
   background-color: transparent;
   border: 2px solid #2000E7;
  }

  .whitespace {
   width: 150px;
   height: 150px;
  }

  .second-part {
   display: flex;
   justify-content: space-around;
   padding-left: 46px;
  }

  .second-part-text-container {
   flex-direction: row;
   align-items: center;
  }

  .second-part-title {
   font-size: 48px;
   line-height: 72px;
   color: #2000E7;
  }

  .second-part-text {
   color: #000000;
  }

  .third-part {
   width: 1440px;
   height: 910px;
   background: rgba(255, 214, 150, 0.2);
   padding-left: 70px;
  }

  .third-part-text-container {
   text-align: center;
  }

  .third-part-title {
   font-size: 48px;
   line-height: 72px;
   font-family: Poppins-Bold;
   font: 700;
   color: #3B1FEA;
   letter-spacing: 10px;
  }

  .third-part-text {
   color: #000000;
  }


  .third-part-image-line {
   display: flex;
   flex-wrap: wrap;
  }

  .cell {
   flex: 1 1 60px;
   padding: 15px;
   margin: 10px;
   
  }

  .fourth-part-container {
   padding-left: 70px;
   background-color: rgba(67, 186, 253, 0.06);
  }

  .fourth-part-title {
   display: flex;
   justify-content: center;
   font-family: Poppins-Bold;
   font: 700;
   font-size: 64px;
   line-height: 96px;
   letter-spacing: 15px;
   color: #220BE8;
  }

  .fourth-part-text {
   display: flex;
   justify-content: center;
   font-size: 24px;
   line-height: 36px;
   font-family: Poppins;
   font: 400;
   color: #000000;
  }
  
  .fourth-part-container-text {
   display: flex;
   justify-content: space-between;
  }
  
  .fourth-container-text {
   font-family: Poppins;
   font: 400;
   font-size: 32px;
   line-height: 48px;
  }
  .fourth-button {
   padding: 10px 30px;
   margin-left: 100px;
   font-size: 32px;
   line-height: 48px;
   background-color: #FFFFFF;
   border: none;
  }
  
  .footer {
   background-color:rgba(255, 214, 150, 0.2);
   font-family: Jost;
   font: 400;
   font-size: 31px;
   line-height: 44.8px;
   color:#000000;
  }

  .footer-header {
   display: flex;
   justify-content: space-between;
  }

  .footer-menu {
   display: flex;
   justify-content: space-around;
   text-decoration: none;
   list-style-type: none;
  }

  .footer-nav {
   display: flex;
   justify-content: space-between;
  }
  
  .black {
   background-color: #000000;
   color:#FFFFFF;
   padding: 10px 20px;
   border-radius: 30px;
   width: 300px;
   height: 70px;
  }

  .pink {
   background-color: #F965FC;
   color: #FFFFFF;
   padding: 10px 20px;
   border-radius: 30px;
   width: 180px;
   height: 70px;
  }
   